/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# .Net
bin
obj
packages
appsettings.json

# EF Migrations
/Migrations

# Other
.txt

# DB
/DelalaApp.Db
/DelalaApp-shm
/DelalaApp-wal